* {
  margin: 0;
  padding: 0;
}


body,
#app {
  width: 100vw;
  height: 100vh;
}

canvas {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

#fullscreen-btn,
#exit-fullscreen-btn {
  padding: 15px;
  font-weight: bold;
  z-index: 999;
}

.top-menu {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.top-menu > button{
  margin-right: 20px;
}